@charset "UTF-8";
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbarh {
	background-color: rgba(255,255,255,1.00);	
	
}
.profpicme {
	position: absolute;
	left: -63px;
	top: 192px;
}
.container-bwood {
	margin-top: -20px;
	margin-right: 5px;
	margin-bottom: 46px;
	margin-left: 5px;
	background-image: url(images/white-wood-background.jpg);
	opacity: 1;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background-size: 1906px auto;
	visibility: visible;
	background-attachment: scroll;
	background-origin: padding-box;
	background-repeat: repeat;
	background-clip: padding-box;
}
.meforest {
}



.white-bk {
	background-color: rgba(255,255,255,1.00);
	-webkit-box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.30);
	box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.30);
	padding-bottom: 301px;
	margin-right: 62px;
	margin-left: 62px;
	margin-top: 357px;
	margin-bottom: 118px;
}
.headingintro {
	margin-bottom: -148px;
	margin-top: 96px;
}
.aboutme {
	color: rgba(0,0,0,1.00);
	margin-top: 0px;
	margin-bottom: 171px;
	font-size: 21px;
	font-family: Ubuntu, Verdana;
	margin-left: 10px;
	margin-right: 10px;
}
.mepic {
}
.thisone  {
	background-color: rgba(255,255,255,1.00);
	-webkit-box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.30);
	box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.30);
	padding-bottom: 109px;
}
.kgimg {
	margin-top: 28px;
}



.white-bk {
	background-color: rgba(255,255,255,1.00);
	-webkit-box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.30);
	box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.30);
	padding-bottom: 382px;
	margin-right: 62px;
	margin-left: 62px;
	margin-top: 357px;
	margin-bottom: 168px;
}
.cmonnn {
	background-color: rgba(255,255,255,1.00);
	-webkit-box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.30);
	box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.30);
	padding-bottom: 382px;
	margin-right: 62px;
	margin-left: 62px;
	margin-top: 266px;
}
.basketballgot {
	font-family: 'Montserrat', sans-serif;
	font-size: 86px;
	margin-top: 64px;
}
.programslist {
	margin-top: 104px;
}
.penlogo {
	margin-bottom: 2px;
	margin-top: 81px;
}
.designtext {
	margin-top: 104px;
	margin-right: 45px;
	margin-left: 45px;
	font-size: 14px;
}
.printdtext {
	margin-top: 104px;
	margin-right: 45px;
	margin-left: 45px;
	font-size: 14px;
}
.languagestext {
	margin-top: 104px;
}
.whitebkk {
	background-color: rgba(255,255,255,1.00);
	-webkit-box-shadow: 0px 8px 13px 4px rgba(0,0,0,0.30);
	box-shadow: 0px 8px 13px 4px rgba(0,0,0,0.30);
	padding-bottom: 459px;
	margin-right: 15px;
	margin-left: 15px;	
}
.programstext {
	margin-right: 45px;
	margin-left: 45px;
}
.codelogo {
	margin-top: 77px;
	margin-bottom: 2px;
}
.sheetofpaper {
	color: rgba(0,0,0,1.00);
	background-color: rgba(255,255,255,1.00);
	padding-bottom: 441px;
	-webkit-box-shadow: 0 30px 27px 5px rgba(0,0,0,0.33);
	box-shadow: 0 30px 27px 5px rgba(0,0,0,0.33);
	position: absolute;
	top: 347px;
	left: 113px;
	right: 180px;
}
.clogo {
	margin-top: 56px;
	margin-right: 56px;
	margin-bottom: 56px;
	margin-left: 56px;
}
.notetext {
	position: absolute;
	top: 150px;
	left: 245px;
	right: 245px;
}
.bio {
	position: absolute;
	top: 236px;
}
.pthor {
	left: 40px;
	position: absolute;
}

.nav li a:link {
	font-family: Ubuntu;

}
.patric {
	font-size: 18px;
	font-family: Ubuntu, Verdana;
}
.navres {
	font-family: Ubuntu, Verdana;
}
.container-fluid.headingintro .text-center {
}
.bio {
	text-align: justify;
	margin-left: 343px;
	margin-top: 72px;
	margin-right: 66px;
}
.skills {
	font-size: 15pt;
	margin-bottom: 138px;
	font-family: Ubuntu, Verdana;
	margin-top: 161px;
	border-color: rgba(0,0,0,1.00);
	border-style: solid none;
}
.nailright {
	position: absolute;
	margin-left: 466px;
}
.nailleft {
	position: absolute;
}
.jbtvlogo {
	margin-bottom: 155px;
}
.portfoliotext {
	font-size: 15pt;
	margin-bottom: 138px;
	font-family: Ubuntu, Verdana;
	margin-top: 161px;
	border-color: rgba(0,0,0,1.00);
	border-style: solid none;
}
.containerofjbtvj {
	margin-top: 204px;
}



.copyrightptl {
	margin-left: 84px;
	margin-top: 27px;
	font-size: 6pt;
}
.img-responsive.center-block {
	border-color: rgba(0,0,0,1.00);
	border-width: 98px;
}
.mmposter {
	-webkit-box-shadow: 0 4px 10px 1px rgba(0,0,0,0.53);
	box-shadow: 0 4px 10px 1px rgba(0,0,0,0.53);
	margin-bottom: 103px;
	margin-top: 21px;
}
.ffposter {
	-webkit-box-shadow: 0 4px 10px 1px rgba(0,0,0,0.53);
	box-shadow: 0 4px 10px 1px rgba(0,0,0,0.53);
	margin-bottom: 103px;
	margin-top: 21px;
}
.mmejposter {
	-webkit-box-shadow: 0 4px 10px 1px rgba(0,0,0,0.53);
	box-shadow: 0 4px 10px 1px rgba(0,0,0,0.53);
	margin-bottom: 103px;
	margin-top: 21px;
}
.jbtvsticker {
	-webkit-box-shadow: 0 4px 10px 1px rgba(0,0,0,0.53);
	box-shadow: 0 4px 10px 1px rgba(0,0,0,0.53);
	margin-bottom: 103px;
	margin-top: 21px;
}
.prflyer {
	-webkit-box-shadow: 0 4px 10px 1px rgba(0,0,0,0.53);
	box-shadow: 0 4px 10px 1px rgba(0,0,0,0.53);
	margin-bottom: 103px;
	margin-top: 21px;
}
.danlflyer {
	-webkit-box-shadow: 0 4px 10px 1px rgba(0,0,0,0.53);
	box-shadow: 0 4px 10px 1px rgba(0,0,0,0.53);
	margin-bottom: 103px;
	margin-top: 21px;
}
.kgflyer {
	-webkit-box-shadow: 0 4px 10px 1px rgba(0,0,0,0.53);
	box-shadow: 0 4px 10px 1px rgba(0,0,0,0.53);
	margin-bottom: 103px;
	margin-top: 21px;
}
.mambyoflyer {
	-webkit-box-shadow: 0 4px 10px 1px rgba(0,0,0,0.53);
	box-shadow: 0 4px 10px 1px rgba(0,0,0,0.53);
	margin-bottom: 103px;
	margin-top: 21px;
}
.leonflyer {
	-webkit-box-shadow: 0 4px 10px 1px rgba(0,0,0,0.53);
	box-shadow: 0 4px 10px 1px rgba(0,0,0,0.53);
	margin-bottom: 103px;
	margin-top: 21px;
}
.myresumepic {
	margin-top: 115px;
	-webkit-box-shadow: 0 4px 10px 1px rgba(0,0,0,0.53);
	box-shadow: 0 4px 10px 1px rgba(0,0,0,0.53);
	margin-bottom: 103px;
	margin-top: 56px;
}
.resumedownloadbutton {
	margin-top: -14px;
	margin-bottom: 211px;
}
.container a .btn.btn-default.center-block.resumedownloadbutton {
}
body {
}
.copyrightptlr {
	font-size: 9px;
}
.digitaldes {
	font-size: 19pt;
	font-family: Ubuntu, Verdana;
}
.programf {
	font-size: 14px;
	margin-top: 104px;
	margin-left: 45px;
	margin-right: 45px;
	font-family: Ubuntu, Verdana;
}
.dencontainer {
	background-color: rgba(255,255,255,1.00);
	-webkit-box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.24);
	box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.24);
	margin-top: 42px;
	padding-top: 49px;
	padding-bottom: 256px;
	background-size: 933px 683px;
	background-repeat: no-repeat;
}
.vbutton {
	font-family: Ubuntu, Verdana;
	letter-spacing: 2px;
	margin-top: 176px;
	padding-left: 35px;
	padding-right: 35px;
}
.revamp {
	font-family: Ubuntu, Verdana;
	font-size: 40px;
	margin-top: 39px;
}
.container-fluid.dencontainer {
}





.uxprocess {
	position: absolute;
	font-family: Ubuntu, Verdana;
	font-size: 20px;
	margin-top: 23px;
	text-align: center;
	margin-bottom: 175px;
}
.threenail {
	padding-top: 0px;
}
.jimages {
	margin-bottom: -19px;
	-webkit-box-shadow: 0px 0px 0px;
	box-shadow: 0px 0px 0px;
}
.bgoimage {
	margin-top: -118px;
}
.textbb {
	text-align: center;
	margin-left: 130px;
	margin-right: 130px;
	margin-top: 18px;
	font-size: 20px;
}


		
		

/*mobile view*/
@media (max-width: 767px)
{
	
.patric {
	font-size: 13pt;
	margin-top: 14px;
	

	
}	
	.aboutme {
	color: rgba(0,0,0,1.00);
	margin-top: 0px;
	margin-bottom: 171px;
	font-size: 14px;
	font-family: Ubuntu, Verdana;
	margin-left: 10px;
	margin-right: 10px;
}
	
	
	.designtext {
	margin-top: 104px;
	margin-right: 45px;
	margin-left: 45px;
	font-size: 14px;
}
.printdtext {
	margin-top: 104px;
	margin-right: 45px;
	margin-left: 45px;
	font-size: 14px;
}


	.digitaldes{
	font-size: 19pt;
		
}
	.skills {
	font-size: 15pt;
	margin-bottom: 138px;
	font-family: Ubuntu;
	margin-top: 161px;
	border-color: rgba(0,0,0,1.00);
	border-style: solid none;
}
	
	.thisone  {
	background-color: rgba(255,255,255,1.00);
	-webkit-box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.30);
	box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.30);
	padding-bottom: 32px;
	margin-right: 2px;
	margin-left: 2px;
	margin-top: 250px;
}
	.cmonnn {
	background-color: rgba(255,255,255,1.00);
	-webkit-box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.30);
	box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.30);
	padding-bottom: 32px;
	margin-right: 2px;
	margin-left: 2px;
	margin-top: 266px;
}
	
	.white-bk {
	background-color: rgba(255,255,255,1.00);
	-webkit-box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.30);
	box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.30);
	padding-bottom: 90px;
	margin-right: 2px;
	margin-left: 2px;
	margin-top: 230px;
	
	
}
	.basketballgot 
	{font-family: 'Montserrat', sans-serif;
	font-size: 15px;}
	.vbutton {
	font-family: Ubuntu, Verdana;
	letter-spacing: 2px;
	margin-top: 106px;
	padding-left: 35px;
	padding-right: 35px;
}
.flatimagecp {
	margin-top: 197px;
}
	.uxprocess.text-center {
	font-size: 12px;
		margin-left: 20px;
		margin-right: 55px;
	text-align: center;
		
		
	
}
	.textbb {
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 18px;
	font-size: 12px;
}
	
	.revamp {
	font-family: Ubuntu, Verdana;
	font-size: 19px;
	margin-top: 39px;
}
	
	}
.bgoimage {
	margin-top: 18px;
	
}




}

/*tablet view*/
@media (min-width: 768px) and (max-width: 991px){
	
.patric {
	position: absolute;
	top: 140px;
	font-size: 25pt;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
}
	.digitaldes{
	position: absolute;
	top: 207px;
	font-size: 45pt;
	font-family: 'Montserrat', sans-serif;
}
	.basketballgot 
	{font-family: 'Montserrat', sans-serif;
	font-size: 52px;}
	
	.vbutton {
	font-family: Ubuntu, Verdana;
	letter-spacing: 2px;
	margin-top: 86px;
	padding-left: 35px;
	padding-right: 35px;
}
.flatimagecp {
	margin-top: 297px;
}
	.uxprocess.text-center {
	font-size: 20 px;
		margin-left: 55px;
		margin-right: 55px;
	text-align: center;
	padding-left: 0px;
}
	
	.textbb {
	text-align: center;
	margin-left: 130px;
	margin-right: 130px;
	margin-top: 18px;
	font-size: 20px;
}
	



}

/*Desktop view*/
@media (min-width: 992px) and (max-width: 1199px)
{
	
	.patric {
	position: absolute;
	top: 140px;
	font-size: 25pt;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
}
	.digitaldes{
	position: absolute;
	top: 207px;
	font-size: 40pt;
	font-family: 'Montserrat', sans-serif;
}

	


.slide-container {
	position: relative;
	height: 400px;
	width: 800px;
	overflow: hidden;
	margin-top:272px;
	margin-left: -24px
}
.sliding-image {
	position: absolute;
	bottom: -1473px;
	-webkit-transition: bottom 2s; /* half a second to transition, might want to up that to 1s-2s */
	transition: bottom 12s;
	width: 800px;
	margin-left: 20;
	margin-right: 20;
	margin-top: 545px;
}
.sliding-image:hover {
	bottom: -100px;
}

.iphoneslide-container {
	position: relative;
	height: 291px;
	width: 162px;
	overflow: hidden;
	margin-top: -131px;
	margin-left: 743px;
	
}
.iphonesliding-image {
	position: absolute;
	bottom: -1354px;
	-webkit-transition: bottom 2s; /* half a second to transition, might want to up that to 1s-2s */
	transition: bottom 12s;
	width: 800px;
	z-index: 3;
}
.iphonesliding-image:hover {
	bottom: 0px;
	
}
.device {
	position: absolute;
	margin-left: 729px;
	margin-top: 679px;
	z-index: 2;
}
	
	.comp {
	position: absolute;
	margin-top: 410px;
	z-index: 0;
}


	.uxprocess {
	position: absolute;
	font-family: Ubuntu, Verdana;
	font-size: 20px;
	margin-top: 3px;
	text-align: center;
	margin-bottom: 75px;
		margin-left: 55px;
		margin-right: 55px;
}
.viewsiteb {
	margin-bottom: 0px;
	margin-top: 1392px;
	margin-left: 467px;
}
	.revamp {
	font-family: Ubuntu, Verdana;
	font-size: 40px;
	margin-top: 39px;
}

	
	

	
}

/*xtra large desktop view*/
@media (min-width: 1200px){
	
	.patric {
	position: absolute;
	top: 140px;
	font-size: 30pt;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
}
	.digitaldes {
	position: absolute;
	top: 207px;
	font-size: 45pt;
	font-family: 'Montserrat', sans-serif;
}
	


.slide-container {
	position: relative;
	height: 400px;
	width: 800px;
	overflow: hidden;
	margin-top:370px;
	margin-left: -19px;
}
.sliding-image {
	position: absolute;
	bottom: -1473px;
	-webkit-transition: bottom 2s; /* half a second to transition, might want to up that to 1s-2s */
	transition: bottom 12s;
	width: 800px;
	margin-left: 20;
	margin-right: 20;
	margin-top: 545px;
}
.sliding-image:hover {
	bottom: -100px;
}

.iphoneslide-container {
	position: relative;
	height: 290px;
	width: 162px;
	overflow: hidden;
	margin-top: -126px;
	margin-left: 943px;
}
.iphonesliding-image {
	position: absolute;
	bottom: -1357px;
	-webkit-transition: bottom 2s; /* half a second to transition, might want to up that to 1s-2s */
	transition: bottom 12s;
	width: 800px;
}
.iphonesliding-image:hover {
	bottom: 0px;
	
}
.comp {
	position: absolute;
	
	margin-top: 510px;
}
.device {
	position: absolute;
	margin-left: 930px;
	margin-top: 783px;
}
	.uxprocess {
	position: absolute;
	font-family: Ubuntu, Verdana;
	font-size: 25px;
	margin-top: 63px;
	text-align: center;
	padding-right: 289px;
	padding-left: 289px;
	margin-bottom: 175px;
}
	
	.revamp {
	font-family: Ubuntu, Verdana;
	font-size: 40px;
	margin-top: 39px;
}




}
